.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 125px;
  height: 50px;

  background-color: #724ce2;

  padding: 15px 24px;

  border-radius: 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: white;

  transition: all 0.2s ease;
}

.button--secondary {
  color: #262626;
  background-color: #f4f4f4;
}

.button--secondary svg {
  color: #262626;
}

.button--medium {
  width: 99px;
  height: 40px;

  padding: 8px 16px;

  font-size: 14px;
  line-height: 16px;
}

.button--medium.button--iconOnly {
  width: 40px;
  height: 40px;

  padding: 12px;
}

.button--small {
  width: 99px;
  height: 32px;

  padding: 8px 16px;

  font-size: 14px;
  line-height: 16px;
}

.button--small svg {
  width: 15px;
  height: 15px;
}

.button--small.button--iconOnly {
  width: 36px;
  height: 36px;
  padding: 10px;
}

.button--icon-right {
  flex-direction: row-reverse;
}

.button--iconOnly {
  padding: 15px;
  width: 50px;
}

.button--leftJustified {
  width: 139px;
  justify-content: space-between;
}

.button--rightJustified {
  width: 139px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.button:hover,
.button:active {
  background-color: #865ff5;
}

.button--secondary:hover {
  color: #724ce2;
  background-color: #ffffff;
}

.button--secondary:hover svg {
  color: #724ce2;
}

.button:disabled {
  cursor: default;
  background-color: #f4f4f4;

  color: #a6a6a6;
}

.button:focus-within {
  outline: 4px #e7dfff solid;
}

.button--secondary:focus-within {
  outline: 4px #eaeaea solid;
}

.button--secondary:active {
  color: #724ce2;
  background-color: #ffffff;
}

.button--secondary:active svg {
  color: #724ce2;
}
